<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPUserID" value="postmaster@mail.com" />
    <add key="SMTPPassword" value="Pass123#"/>
    <add key="SMTPSender" value="postmaster@mail.com"/>
    <add key="SMTPHost" value="mail.domain.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPToken" value=""/>
    <add key="SMTPMode" value="Relay"/>
    <add key="SMTPRelayServerURL" value="dedrelay.secureserver.net"/>
    <add key="SMTPServerURL" value="http://mail.domain.com"/>
    <add key="SMTPRelayServerPort" value="25"/>
    <add key="CMSDatabase" value="CMSDatabase"/>
    <add key="LogFile" value="../SEM.CMS.App.log"/>
    <add key="WCFIPAddress" value="::1;127.0.0.1"/>
    <add key="SecretKey" value="semcms123#" />
    <add key="TimeDiff" value="8"/>
    <add key="DefaultRetryCount" value="5"/>
  </appSettings>

  <connectionStrings>
    <add name="Database" connectionString="Server=SQL5007.Smarterasp.net;Database=DB_9D0195_dvcmsapp;User ID=DB_9D0195_dvcmsapp_admin;Password=Pass123#;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>