<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CMSDatabase" value="CMSDatabase"/>
    <add key="LogFile" value="../SEM.CMS.App.log"/>
    <add key="WCFIPAddress" value="::1;127.0.0.1"/>
		<add key="SecretKey" value="semcms123#" />
		<add key="TimeDiff" value="8"/>
    <add key="UploadFilePath" value="C:\Upload\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Database" connectionString="Server=OPENNODE001\MSSQL2014;Database=rwebuatdb;User ID=sa;Password=Pass123#;" providerName="System.Data.SqlClient" />-->
    <add name="Database" connectionString="Server=SQL5017.Smarterasp.net;Database=DB_9D0195_dvcmsapp01;User ID=DB_9D0195_dvcmsapp01_admin;Password=Pass123#;" providerName="System.Data.SqlClient" />
    <!--<add name="Database" connectionString="Server=SQL5017.Smarterasp.net;Database=DB_9D0195_dvcmsapp02;User ID=DB_9D0195_dvcmsapp02_admin;Password=Pass123#;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Database" connectionString="Server=SQL5017.Smarterasp.net;Database=DB_9D0195_dvcmsapp03;User ID=DB_9D0195_dvcmsapp03_admin;Password=Pass123#;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
