.schedule-list .jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.schedule-list .jcarousel-wrapper .jcarousel {
    position: relative;
    overflow: hidden;
    width: 94.5%;
}

.schedule-list .jcarousel-wrapper .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.schedule-list .jcarousel-wrapper .jcarousel li {
    width: 170px;
    float: left;
    margin:0 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** Carousel Controls **/

.schedule-list .jcarousel-wrapper .jcarousel-control-prev,
.schedule-list .jcarousel-wrapper .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -87px;
    width: 26px;
    height: 175px;
    text-align: center;
    outline:none;
}

.schedule-list .jcarousel-wrapper .jcarousel-control-prev {
    left: 0px;
    background: url(../img/carousel/previous-arrow.png) no-repeat #fff left center;
}

.schedule-list .jcarousel-wrapper .jcarousel-control-next {
    right: 0px;
    background: url(../img/carousel/next-arrow.png) no-repeat #fff left center;
}

.ads-wrapper .jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    min-width:300px;
    width:465px;
}

/** Carousel **/

.ads-wrapper .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.ads-wrapper .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ads-wrapper .jcarousel li {
    width: 465px;
    float: left;
    margin:0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** Carousel Controls **/

.ads-wrapper .jcarousel-control-prev,
.ads-wrapper .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 25px;
    height: 60px;
    text-align: center;
    outline:none;
    font-size:25px;
    background:#fff;
}

.ads-wrapper .jcarousel-control-prev {
    left: 0px;
}

.ads-wrapper .jcarousel-control-next {
    right: 0px;
}